@page
@model HeThongCuuTroThienTai.Pages.LoginLogout.DangXuatModel
@{
    ViewData["Title"] = "Đăng Xuất";
}

<h2>Đăng Xuất</h2>
<form method="post">
    <button type="submit" class="btn btn-danger">Đăng Xuất</button>
</form>
