@page
@model MH_ChoXetDuyetModel
@{
}
@{
    ViewData["Title"] = "Chờ Xét Duyệt";
}

<h2>Tài Khoản Đang Chờ Xét Duyệt</h2>

<p>Cảm ơn bạn đã đăng ký tài khoản. Tài khoản của bạn hiện đang chờ xét duyệt từ quản trị viên. Chúng tôi sẽ thông báo kết quả qua email hoặc số điện thoại đã đăng ký.</p>