@page
@model HeThongCuuTroThienTai.Pages.QuanLyBanTin.MH_Add_BanTinTichHopModel
@{
}
<div class="container mt-4">
    <h2 class="text-center">Thêm Bản Tin Tích Hợp Mới</h2>

    <form method="post">
        <div class="form-group mb-4">
            <label asp-for="BanTinTichHop.TieuDe">Tiêu Đề</label>
            <input asp-for="BanTinTichHop.TieuDe" class="form-control" placeholder="Nhập tiêu đề bản tin..." required />
            <span asp-validation-for="BanTinTichHop.TieuDe" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BanTinTichHop.NoiDung">Nội Dung Bản Tin</label>
            <textarea asp-for="BanTinTichHop.NoiDung" class="form-control" rows="5" placeholder="Nhập nội dung bản tin..."></textarea>
            <span asp-validation-for="BanTinTichHop.NoiDung" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="BanTinTichHop.URL">URL</label>
            <input asp-for="BanTinTichHop.URL" class="form-control" placeholder="Nhập URL bản tin..." required />
            <span asp-validation-for="BanTinTichHop.URL" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="BanTinTichHop.Nguon">Nguồn</label>
            <input asp-for="BanTinTichHop.Nguon" class="form-control" placeholder="Nhập nguồn của bản tin..." required />
            <span asp-validation-for="BanTinTichHop.Nguon" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="BanTinTichHop.LoaiBanTin">Loại bản tin</label>
            <input asp-for="BanTinTichHop.LoaiBanTin" class="form-control" placeholder="Nhập loại bản tin..." required />
            <span asp-validation-for="BanTinTichHop.LoaiBanTin" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BanTinTichHop.IsHidden">Ẩn bản tin này</label>
            <input asp-for="BanTinTichHop.IsHidden" class="form-check-input" type="checkbox" />
            <span asp-validation-for="BanTinTichHop.IsHidden" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Lưu Bản Tin</button>
        <a asp-page="/QuanLyBanTin/MH_DanhSach_BanTinTichHop" class="btn btn-secondary">Hủy</a>
    </form>
</div>